<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='images.css') }}">
    <title>Title</title>
</head>
<body>
    <div class="model_compare" style="float:left; padding: 50px;">
        <h2>Model Comparisons</h2>
        <p>Below you can select which classification algorithms you want to compare<br \>
        Random Forest and Neural Network take some time to run<br \>
        so please be patient.</p>
        <form  action="/feature_select/datamine/compare_models" name="model_compare" method="POST">
            <p>
                <table class="table is-striped is-fullwidth">
                    <tr><td><label class="checkbox">
                          <input type="checkbox" name="is_decision_tree" value="1"/> Decision Tree
                    </label></td></tr>
                    <tr><td><label class="checkbox">
                          <input type="checkbox" name="is_random_forest" value="1"/> Random Forest
                    </label></td></tr>
                    <tr><td><label class="checkbox">
                          <input type="checkbox" name="is_neural_network" value="1"/> Neural Network
                    </label></td></tr>
                    <tr><td><label class="checkbox">
                          <input type="checkbox" name="is_naive_bayes" value="1"/> Naive Bayes
                    </label></td></tr>
                </table>
            </p>
            <p>
                <div class="slidecontainer">
                    <p>Train-Test Split:
                    <input type="range" min="30" max="90" value="70" id="train_test_split" name="train_test_split">
                    <span id="demo"></span>% For Training</p>

                    <script>
                        var slider = document.getElementById("train_test_split");
                        var output = document.getElementById("demo");
                        output.innerHTML = slider.value;

                        slider.oninput = function() {
                          output.innerHTML = this.value;
                        }
                    </script>

                </div>
            </p>
            <p>Variable(s) For Cross Comparison:</p>
            <p>
                <table class="table is-striped is-fullwidth">
                {% for feature in active_features %}
                    <tr>
                      <td>
                        <label class="checkbox">
                          <input type="checkbox" name="indep_var" value="{{ feature }}"/> {{ feature }}
                        </label>
                      </td>
                    </tr>
                {% endfor %}
                </table>
            </p>


            <div class="field is-grouped">
                <div class="control">
                  <p><input type="submit"></p>
                </div>
            </div>

        </form>

    </div>

    <div class="model_compare_output" style="float:right; padding: 5px;">
        {% if model_compare_html != 'None' %}
            <h1>Model Performance Comparison</h1>
            <p>{{ model_compare_html|safe }}</p>
        {% endif %}
    </div>

</body>
</html>