<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='images.css') }}">
    <title>Features</title>
</head>
<body>

<div class="feature_select">
    <h1> Data Features</h1>

    <p> Select all the features you want to include:</p>
    <p> <i> Do remember <b>not</b> to include any primary_key attributes </i></p>

    <table class="feature_select">

        <form action="/feature_select/datamine" name="feature_list" method="POST">

            <script language="JavaScript">
                function toggle(source) {
                  checkboxes = document.getElementsByName('column_name');
                  for(var i=0, n=checkboxes.length;i<n;i++) {
                        checkboxes[i].checked = source.checked;
                        }
                }
            </script>

          <table class="table is-striped is-fullwidth" >
            {% for column_name in column_names %}
              {% if column_name != 'track_id' %}
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" name="column_name" value="{{ column_name }}"/> {{ column_name }}
                    </label>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
              <tr><td></td></tr>
              <tr><td><label class="checkbox"><input type="checkbox" onClick="toggle(this)" /> <i>Select All</i> <br/><br/></label></td></tr>
          </table>

          <div class="field is-grouped">
            <div class="control">
              <p><input type="submit"></p>
            </div>
          </div>
        </form>

    </table>
</div>


</body>
</html>