<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='images.css') }}">

<div class="homepage" style="text-align: center;">
    <h1>DataMining For My Data</h1><br /><br />
    <p>
        Please select a .csv file that you'd like to datamine.
    </p>
    <p>
        If you are running the
        <a href="https://github.com/JibranA91/DataMining_MSD_Project" target="_blank">DataMining_MSD_Project</a>,
        you can download the required .csv from
        <a href="https://1drv.ms/u/s!AiDMfUR-ihQ-jLNTWnnC0MjwmbEn9w?e=jRZXeP" target="_blank">here</a>
    </p>
    <br />
    <form action="/feature_select" method="post" enctype="multipart/form-data">
        <label for="myfile">Select a .csv file:</label>
        <p><input type="file" id="myfile" name="myfile" required="true"></p>
        <p><input type="submit"></p>
    </form>
</div>
